<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/popup.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <select name="" id="selectBox">
        <option>1시 버스</option>
        <option>2시 버스</option>
        <option>3시 버스</option>
    </select>
    <div id="content">
    </div>
</body>
<script src="/popup.js"></script>
<script>
    const socket = io.connect();
    socket.on("reRender",(data)=>{
        if(data.index === selectedIndex){

            const {selectIndex : {x ,y}} = data;
            const target = document.querySelector(`div[data-x="${x}"][data-y="${y}"]`);
            target.classList.add("disable");
            target.classList.remove("enable");
            target.onclick = null;
        }
        // const target = document.querySelectorAll(".seat");
        // const {selectIndex}=data;
        // target[selectIndex].classList.remove("enable");
        // target[selectIndex].classList.add("disable");
        // target[selectIndex].onclick = null;
    })
    const popup = new Popup("예매 하시겠어요?");

    const headlerClickBtn2 = ()=>{
        console.log("취소버튼");
    }

    const headlerClickSeat = (e)=>{
        popup.open();
        const x = e.target.getAttribute("data-x");
        const y = e.target.getAttribute("data-y");
        const headlerClickBtn = ()=>{
            socket.emit("reserve",{selectIndex:{x,y},index:selectedIndex});
        }
        popup.addEventListener(headlerClickBtn,headlerClickBtn2)
    }
    const renderSeats = async(index)=>{
        content.innerHTML = "";
    const {data}= await axios.get(`/seats/${index}`);

    data.forEach((el,indexY)=>{
            let lineElement = document.createElement("div");
            lineElement.classList.add("line");

            el.forEach((e,indexX) => {
                let seatElement = document.createElement("div");
                seatElement.classList.add("seat");
                // setAttribute 속성을 추가하는 메서드
                seatElement.setAttribute("data-x",indexX)
                seatElement.setAttribute("data-y",indexY)
                if (e === 1) {
                    seatElement.classList.add("enable");
                    seatElement.onclick = (e)=> {headlerClickSeat(e)};
                }else if (e === 2) {
                    seatElement.classList.add("disable");
                }
                lineElement.append(seatElement);
            });
        content.append(lineElement);
        });

    }
    let selectedIndex = 0;
    selectBox.onchange = function(){
        // this.selectIndex == 선택되어있는 index 번호
        // 0 1 2
        selectedIndex = this.selectedIndex;
        renderSeats(selectedIndex)
    }
    renderSeats(0);
</script>
</html>